[Desktop Entry]
Categories=Utility;
Comment[en_US]=
Comment=
Exec=python3 /home/zleepy/Forsaken-Level-Calculator/Calc.py
GenericName[en_US]=
GenericName=
Icon=text-x-python
MimeType=
Name[en_US]=Forsaken Level Calculator
Name=Forsaken Level Calculator
Path=
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
